

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<a href="index.html" class="logo"><strong>Cureka</strong></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="index.html" class="button special fit">Home</a></li>
							<li><a href="about_us.html">About Us</a>
                            <li><a href="about_us.html">FAQ</a>
                            <li><a href="tsandcs.html">Terms & Conditions</a></li>
                            <li><a href="privacypolicy.html">Privacy Policy</a></li>
						</ul>

					</nav>

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1 id="zero"> Hi, how are you feeling today?
                                </h1></header>
                        <p>I feel like I have </p>


                           <div id="mainContainer">

                            <select name="Enter your symptom">

                            <option value="0"></option>
                            <option value="a">a sore throat</option>
                            <option value="b">a runny nose</option>
                            <option value="c">a cough</option>
                            <option value="d">feverish</option>

                            </select>

                            <input type="button" value=" Add a symptom " onClick="addNew();">
                            </div>

                            <div id="myModal" class="modal">
                            <input type="button" id="search_button" value="Search">
                            </div>










                    </div>
					</section>
				<!-- Main -->
					<div id="main">






				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
                                <h3>Get in touch</h3>
								<form method="post" action="#">
									<div class="field half first">
										<label for="name">Name</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Message</label>
										<textarea name="message" id="message" rows="6"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="special" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>

						</div>

                        <div class="inner">
                            <section>
                                <p>Sign up To our beta</p>
                                <input type="text" name="email_address" id="email">

                                <ul class="actions">
										<li><input type="submit" value="Sign Up" class="special" /></li>

									</ul>
                            </section>
                        </div>
					</section>


                 <!-- Two -->
							<section id="two">
								<div class="inner">
									<header class="major">
										<h2>About Us</h2>
									</header>
									<p>Who we are</p>
                                    <p>What we aim to do</p>
                                    <p>Why we want to do it</p>
                                    <p>How you can help us / How you are helping us</p>

								</div>
							</section>

                <!--Three-->

                <section id="three">
								<div class="inner">
									<header class="major">
										<h2>Contact</h2>
									</header>
                                    <p>+65 ____ ____</p>
                            </div>
							</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">

							<ul class="copyright">
								<li>&copy; Cureka 2017</li>
							</ul>
						</div>
					</footer>

			</div>
</div>
