<div class="col-lg-12" style="padding-left:0px;padding-right:0px">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Terms and Conditions</h5>
                    </div>
                    <div class="ibox-content">
                        <h3>Indemnity</h3>
                        <p>You agree to defend, indemnify, and hold Cureka, its officers, directors, employees, agents, licensors, and suppliers, harmless from and against any claims, actions or demands, liabilities and settlements including without limitation, reasonable legal and accounting fees, resulting from, or alleged to result from, your violation of these Terms and Conditions.</p>
                        <div class="hr-line-dashed"></div>
                        <h3>General</h3>
                        <p>
                          Cureka is based in New York, New York, in the United States of America with principal offices in New York, New York and Atlanta, Georgia. Cureka makes no claims that Cureka, Cureka Health Manager, or any Site within the Cureka Network and the Content are appropriate or may be downloaded outside of the United States. Access to the Content may not be legal by certain persons or in certain countries. If you access the Cureka Network from outside the United States, you do so at your own risk and are responsible for compliance with the laws of your jurisdiction.
                        </p>
                        <p>
                          The following provisions survive the expiration or termination of this Agreement for any reason whatsoever: Liability, User Submissions, User Submissions – image, video, audio files, Indemnity, Jurisdiction, and Complete Agreement.
                        </p>
                        <div class="hr-line-dashed"></div>
                        <h3>Jurisdiction</h3>
                        <p>
                          You expressly agree that exclusive jurisdiction for any dispute with Cureka, or in any way relating to your use of the Cureka Site, resides in the courts of the State of Georgia and you further agree and expressly consent to the exercise of personal jurisdiction in the courts of the State of Georgia in connection with any such dispute including any claim involving Cureka or its affiliates, subsidiaries, employees, contractors, officers, directors, telecommunication providers, and content providers.
                        </p>
                        <p>
                          These Terms and Conditions are governed by the internal substantive laws of the State of Georgia, without respect to its conflict of laws principles. If any provision of these Terms and Conditions is found to be invalid by any court having competent jurisdiction, the invalidity of such provision shall not affect the validity of the remaining provisions of these Terms and Conditions, which shall remain in full force and effect. No waiver of any of these Terms and Conditions shall be deemed a further or continuing waiver of such term or condition or any other term or condition.
                        </p>
                        <div class="hr-line-dashed"></div>
                        <h3>Notice and Takedown Procedures; and Copyright Agent</h3>
                        <p>
                          If you believe any materials accessible on or from the Site infringe your copyright, you may request removal of those materials (or access thereto) from this web site by contacting Cureka's copyright agent (identified below) and providing the following information:

                          </p>
                          <ul>
                            <li>Identification of the copyrighted work that you believe to be infringed. Please describe the work, and where possible include a copy or the location (e.g., URL) of an authorized version of the work.</li>
                            <li>Identification of the material that you believe to be infringing and its location. Please describe the material, and provide us with its URL or any other pertinent information that will allow us to locate the material.</li>
                            <li>Your name, address, telephone number and (if available) e-mail address.</li>
                            <li>A statement that you have a good faith belief that the complained of use of the materials is not authorized by the copyright owner, its agent, or the law.</li>
                            <li>A statement that the information that you have supplied is accurate, and indicating that "under penalty of perjury," you are the copyright owner or are authorized to act on the copyright owner's behalf.</li>
                            <li>A signature or the electronic equivalent from the copyright holder or authorized representative.</li>
                          </ul>

                        <p>
                          Cureka's agent for copyright issues relating to this web site is as follows:
                        </p>
                        <p>
                          Cureka – spugrock314@gmail.com
                        </p>
                        <p>
                          In an effort to protect the rights of copyright owners, Cureka maintains a policy for the termination, in appropriate circumstances, of subscribers and account holders of the Site who are repeat infringers.
                        </p>
                        <div class="hr-line-dashed"></div>
                        <h3>Complete Agreement</h3>
                        <p>
                          Except as expressly provided in a particular "legal notice" on the Cureka Site, these Terms and Conditions and the Cureka Privacy Policy constitute the entire agreement between you and Cureka with respect to the use of the Cureka Site, and Content.
                        </p>
                    </div>
                </div>
            </div>
